#title{
	color: #white;
	text-align: center;
	margin-top: 80px;
	font-family: Lora, Garamond, serif;
	margin-bottom: 40px;
}
.center{
	text-align: center;
}

.bodyText{
	color: black;
	padding-top: 40px;
	padding-bottom: 12px;
	padding-left: 80px;
	padding-right: 30px;
	font-family: Roboto, Arial, sans-serif;
}
.underline{
	text-decoration: underline;
}
.margin-bottom{
	margin-bottom: 1rem;
}
.background{
	background-color:#009688;
}
.body-wrapper{
	background-color: white;
	margin-left: 150px;
	margin-right: 110px;
	border-radius: 12px;
}
